<%= simple_form_for(@pin, html: { class:"form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :image, label: "Upload an image" %>
  <%= f.input :product_name, as: :text, label: "What`s the thing?", placeholder: "Make it teasing", input_html: { rows: "1"} %>
  <%= f.input :product_description, as: :text, label: "What´s the story?", placeholder: "Keep it short and funny. You got 300 characters", input_html: { rows: "3", :maxlength => 300} %>
  <%= f.input :product_price, as: :decimal, label: "How much do you want for it?", placeholder: "Enter the price in HKD", label: "Price", input_html: { rows: "1", step: "50.00"} %><form action="demo_form.asp">
  <%= f.input :contact_phone, input_html: { as: :phone}, placeholder: "", label: "Phone", input_html: { rows: "1"} %>
  <%= f.input :contact_email, input_html: { as: :email}, placeholder: "", label: "Email", input_html: { rows: "1"} %>

  <div class="form-actions">
    <%= f.button :submit, class: "button expand" %>
  </div>
<% end %>
