<h1>Listing pins</h1>

<table>
  <tr>
    <th>Product name</th>
    <th>Product description</th>
    <th>Product price</th>
    <th>Contact phone</th>
    <th>Contact email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pins.each do |pin| %>
  <tr>
    <td><%= pin.product_name %></td>
    <td><%= pin.product_description %></td>
    <td><%= pin.product_price %></td>
    <td><%= pin.contact_phone %></td>
    <td><%= pin.contact_email %></td>
    <td><%= link_to 'Show', pin %></td>
    <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
    <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pin', new_pin_path %>
