<div class="row"]]>    
  <div class="small-2 large-4 columns"]]>        
<p>
  <b>What`s the thing?</b>
  <%= @pin.product_name %>
</p>

<p>
  <b>What´s the story?</b>
  <%= @pin.product_description %>
</p>

<p>
  <b>How much do you want for it?</b>
  <%= @pin.product_price %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @pin.contact_phone %>
</p>

<p>
  <b>Contact email:</b>
  <%= @pin.contact_email %>
</p>
</div>
</div>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>

