<p id="notice"><%= notice %></p>

<p>
  <b>Product name:</b>
  <%= @pin.product_name %>
</p>

<p>
  <b>Product description:</b>
  <%= @pin.product_description %>
</p>

<p>
  <b>Product price:</b>
  <%= @pin.product_price %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @pin.contact_phone %>
</p>

<p>
  <b>Contact email:</b>
  <%= @pin.contact_email %>
</p>


<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
